source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0

nuget Akka
nuget StockSharp.Yahoo
nuget LanguageExt.Core
nuget RabbitMQ.Stream.Client prerelease

nuget Akka.TestKit.Xunit2
nuget AutoFixture
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget coverlet.collector
nuget Testcontainers
nuget Microsoft.NET.Test.Sdk
nuget Ogooreck